{% extends "AppCoder/padre.html" %}


{% load static %}

        {% block contenido2 %}
            <h1 class="mb-1">INICIO!!!!!!!!!!!!!!!!!!!!</h1>
            {% if  request.user.is_authenticated %}
            <img src="{{ avatar }}" alt="">
            {% endif %}

        {% endblock %}


        {% block contenido %}

            <h3> {{ mensaje }}</h3>
            <h1>Titulo del inicio :)</h1>

            <p>Este es el parrafo el inicio</p>

         

        {% endblock %}
